#logo{
    font-size: 40px;
    font: bold;
    font-family: 'Times New Roman';

}
a{
    margin-right: 150px;
    font:bold;
}
button:hover{
    color:black;
    background-color: red;
}
body{
    background-image: url(http://s1.picswalls.com/wallpapers/2016/03/29/beautiful-nature-high-definition_042323787_304.jpg);
    background-size: cover;
}
#heading1{
    font-size: 40px;
    padding-top: 140px;
    height: 20px;
    text-align: center;

}
h1{
    text-align: center;
    font-size: 80px;
    padding-top: 90;

}
h2{
    text-align: center;
    color: white;
        text-align: center;

}
